pymilvus
requests
bs4
dotenv
autogen_ext
autogen_agentchat
autogen_core
asyncio
openai
tiktoken
fastapi
uvicorn
langchain_openai
langchain_classic
langchain_pinecone
langchain_mcp_adapters
langchain_core
